.masonryGrid-item {
    display: block;
    float: left;
}

.masonryGrid-item img{
    width: 100%;
}

.masonryGrid-area{
    overflow: auto;
}

.tagged a.delete {
    border: none;
    padding: 10px 10px;
    float: right;
}

.tagfilterform{
    float: left;
    margin: 4px;
}