.masonryGrid-item {
    display: block;
    float: left;
}

.masonryGrid-item img{
    width: 100%;
}

.masonryGrid-area{
    overflow: auto;
}

.tagged a.delete {
    border: none;
    padding: 10px 10px;
    float: right;
}

.tagfilterform{
    float: left;
    margin: 4px;
}

/* Filter by tags */
 .tagButton {
     border-radius: 4px !important;
     text-align: center;
     background: #e74c3c none repeat scroll 0 0;
     border: 0 none;
     color: #fff;
     cursor: pointer;
     font-weight: 400;
     position: relative;
     text-decoration: none;
     white-space: nowrap;
     display: block;
     box-shadow: none;
     font-size: 12px;
     line-height: 1.5;
     padding: 5px 10px;
     float: left;
     margin-left: 7px;
     margin-right: 0px;
 }
.currenttag{
    float: left;
}
.tagfilterform{
    float: left;
}
.resettagform{
    padding-top: 4px;
    margin-left: -5px;
    float: left;
}
.form-group{
    height: 42px;
    margin-bottom: 10px;
}
.list-inline {
    list-style: outside none none;
    margin-left: 0px;
    padding-left: 0;
}
.tags-v2 li {
    padding: 7px 0 7px 4px;
}
.list-inline > li {
    display: inline-block;
}
.tags-v2 li a {
    border-radius: 4px;
    color: #555;
    font-size: 13px;
    padding: 5px 10px;
    background: #d8d8d8;
    border: 1px solid #bbb;
}
.tagButton:hover{
    background: #c0392b;
}
.currenttag {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}
.boxclose{
    border-radius: 30px;
    background: #d8d8d8;
    color: #000;
    padding: 2px 5px;
    cursor: pointer;
    border: 1px solid #bbb;
}
.boxclose:hover{
    background: #c0392b;
    color: #fff;
}
.boxclose:before {
    content: "×";
}
